node_modules
*.pem
letsencrypt/accounts
letsencrypt/archive
letsencrypt/backups
letsencrypt/csr
letsencrypt/keys
letsencrypt/live
letsencrypt/renewal
letsencrypt/renewal-hooks
letsencrypt/letsencrypt.log
txt
package-lock.json